# Terraform local state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info


# Lock file
.terraform.lock.hcl

# Terraform working directory
.terraform/

# Provider binaries
terraform-provider-google_*

# JSON or sensitive output files
*.json

*changed_files.txt
